/* Resetear los estilos por defecto del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Times New Roman, sans-serif;
    line-height: 1.6;
    background-color #E8DED1; /* Fondo con degradado de colores */

}
body, .padre {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #BFAA8C;
    overflow: hidden;
}

/*.right-column {
            /*display: inline-block;*/
   /*         width: 50%;
            height:600px ;
            float: left;
            margin-right: 10px;
            overflow: hidden;
             box-sizing: border-box; /* Incluye el relleno y el borde en el ancho */
     /*   }*/


header {
    background-color: #BFAA8C;
    color: darkbrown;
    text-align: left;
    padding: 1rem;
    font: Times New Roman;


}

/*img {
    width: 50%;    /* Establece el ancho de la imagen */
  /*  height: 600px;    /* Mantendrá la proporción de la imagen */
    /*margin-left: 10px;*/
   /* overflow: hidden;
     box-sizing: border-box; /* Incluye el relleno y el borde en el ancho */
    /*display: inline-block;   /* Convertir la imagen en un bloque para centrarla */
     /*margin:  /* Margin horizontal automático para centrar */
    /*border: 2px solid #330022; /* Borde de 2 píxeles de grosor, sólido y de color negro */ 

/*}
*/


    .contenedor {
    width: 100%;
    overflow: hidden; /* Limpiamos los elementos flotantes dentro del contenedor */
}

.div1{
   float: left;
    width: 49%; /* Divide el contenedor en dos partes iguales */
   box-sizing: content-box; /* Incluye el relleno y el borde en el ancho */
    /*padding: 10px; /* Agrega relleno si es necesario */
    margin-left: 14px;

} 

.div2 {
    float: left;
    width: 49%; /* Divide el contenedor en dos partes iguales */
    height: 609px;
   box-sizing: content-box; /* Incluye el relleno y el borde en el ancho */
    /*padding: 10px; /* Agrega relleno si es necesario */
    /*margin-right: 2px;*/
}



nav {
    /* Estilos para la barra de navegación, si decides tener una */
}

main {
    padding: 2rem;
}

section {
    margin-bottom: ;
    display: inline-block;
    vertical-align: top;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #BFAA8C;
    color: whitesmoke;
}



/* Letras en movimiento*/